body{
  padding: 0;
  margin:0;
  background-color: #f1f2f6;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.logo{
  width: 60px;
  height: 60px;
  left: 100px;
}



/*botones redes sociales empieza*/
.medio{
  position: absolute;
  top: 93px;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  background-color: #7f8fa6;

}

.btn{
  display: inline-block;
  width: 45px;
  height: 45px;
  background: #f1f1f1;
  margin:10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #192a56;
  overflow: hidden;
  position: relative;
}

.btn i{
  line-height: 45px;
  font-size: 18px;
  transition: 0.2s linear;
}

.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}

.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #192a56;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }
  50%{
    left: 10%;
    top: -30%;
  }
  100%{
    top: -10%;
    left: -10%;
  }
}
/*botones redes sociales termina */

/*Barra de menu empieza*/
.header{
  height: 100px;
  background: #222f3e;
  padding: 0 20px;
  color: #fff;
  margin-top: 185px;
}
.menu{
  float: none;
  line-height: 100px;
  text-align: center;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
line-height: 100px;
}
.show-menu-btn,.hide-menu-btn{
  transition:  0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.menu a:hover,.show-menu-btn:hover,.hide-menu-btn:hover{
  color: #54a0ff;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}
.content{
  padding
}
.content img{
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}
.content p{
  text-align: justify;
}

@media screen and(max-width: 800px){
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    padding: 80px 0;
    text-align: center;
    line-height: normal;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top:40px;
    right:40px;
  }
}
/*barra de menu termina*/

/*imagen y texto empieza*/

.imagen{
  width: 600px;
  height: 350px;
}

.texto-imagen{
  margin-top: 10px;
  width: 600px;
  justify-content: center;
  text-align: justify;
}

#Contenido{
  height: 350px;
}
.contenido{
position: relative;
left: 400px;
float: left;
padding-right: 18px;
margin-right: 30px;

}

.titulo{
  text-align: center;
  font-weight: bold;
  font-size:  25px;  
}
/*barra derecha*/
.menu-derecha{
  float: right;
  width: 38%;
  height: 100%;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
aside > header{
  text-align: left;
}
.menu-derecha a{
  display: block;
  padding: 6px 8px 8px 16px;
  background-color:#222f3e;
  color: #fff;
  width: 170px;
  text-decoration: none;
  transition: 0.3s linear;

}

.pie{
  position: relative;
  margin-top: 60px;
}
.pie-pagina{
  text-align: center;
  background: #222f3e;
  color: #fff;
  height: 80px;
  position: absolute;
  bottom: -260px;
  width: 100%;
  line-height: 74px;

}
/* caja de busqueda empieza*/
.caja-busqueda{
  position: absolute;
  top: 75%;
  left: 75%;
  transform: translate(-50%,-50%);
  background: #f1f1f1;
  height: 40px;
  border-radius: 30px;
  padding: 13px;

}
.caja-busqueda:hover > .txt-busqueda{
  width: 240px;
  padding: 0 6px;
}

.caja-busqueda:hover > .boton-busqueda{
background: #192a56;
color: #f1f1f1;

}

.boton-busqueda{
  color: #192a56;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.txt-busqueda{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  font-size: 16px;
  transition: 0.4s;
  color: #192a56;
  line-height: 40px;
  width: 0px;
}

.desplegable{
  position: relative;
  display: inline-block;
}

.enlaces{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 240px;
  z-index: -1;
  right: -8px;
  top: 37px;

}

.enlaces a{
  color: #222f3e;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.caja-busqueda:hover .enlaces{
  display: block;
}

.enlaces a:hover{
   background-color: #222f3e;
   color: #f1f1f1;
   transition: 0.2s linear;
   cursor: pointer;
}

.enlaces li{
  list-style: none;
}


.enlace{
  text-decoration: none;
  color: #fff;
}

.enlace:hover{
  color: #48dbfb;
  transition: 0.3s linear;
}

/* caja de busqueda termina /*
