
/*para borrar la linea del hiperenlace*/
a{
	text-decoration: none
}

.logo{
  width: 60px;
  height: 60px;
  left: 100px;
}



/*botones redes sociales empieza*/
.medio{
  position: absolute;
  top: 93px;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  background-color: #7f8fa6;
}

.btn{
  display: inline-block;
  width: 45px;
  height: 45px;
  background: #f1f1f1;
  margin:10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #192a56;
  overflow: hidden;
  position: relative;
}

.btn i{
  line-height: 45px;
  font-size: 18px;
  transition: 0.2s linear;
}

.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}

.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #192a56;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }
  50%{
    left: 10%;
    top: -30%;
  }
  100%{
    top: -10%;
    left: -10%;
  }
}
/*botones redes sociales termina */


.caja-busqueda{
  position: absolute;
  top: 75%;
  left: 75%;
  transform: translate(-50%,-50%);
  background: #f1f1f1;
  height: 40px;
  border-radius: 30px;
  padding: 13px;

}
.caja-busqueda:hover > .txt-busqueda{
  width: 240px;
  padding: 0 6px;
}

.caja-busqueda:hover > .boton-busqueda{
background: #192a56;
color: #f1f1f1;

}

.boton-busqueda{
  color: #192a56;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.txt-busqueda{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  font-size: 16px;
  transition: 0.4s;
  color: #192a56;
  line-height: 40px;
  width: 0px;
}

.desplegable{
  position: relative;
  display: inline-block;
}

.contenido{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 240px;
  z-index: -1;
  right: -8px;
  top: 37px;

}

.contenido a{
  color: #222f3e;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.caja-busqueda:hover .contenido{
  display: block;
}

.contenido a:hover{
   background-color: #222f3e;
   color: #f1f1f1;
   transition: 0.2s linear;
   cursor: pointer;
}

.contenido li{
  list-style: none;
}

/*Barra de menu empieza*/
.header{
  height: 100px;
  background: #222f3e;
  padding: 0 20px;
  color: #fff;
  margin-top: 185px;
}
.menu{
  float: none;
  line-height: 100px;
  text-align: center;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
line-height: 100px;
}
.show-menu-btn,.hide-menu-btn{
  transition:  0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.menu a:hover,.show-menu-btn:hover,.hide-menu-btn:hover{
  color: #54a0ff;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}
.content{
  padding
}
.content img{
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}
.content p{
  text-align: justify;
}

@media screen and(max-width: 800px){
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    padding: 80px 0;
    text-align: center;
    line-height: normal;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top:40px;
    right:40px;
  }
}
/*barra de menu termina*/

/* caja de busqueda empieza*/

.caja-busqueda{
  position: absolute;
  top: 75%;
  left: 75%;
  transform: translate(-50%,-50%);
  background: #f1f1f1;
  height: 40px;
  border-radius: 30px;
  padding: 13px;

}
.caja-busqueda:hover > .txt-busqueda{
  width: 240px;
  padding: 0 6px;
}

.caja-busqueda:hover > .boton-busqueda{
background: #192a56;
color: #f1f1f1;

}

.boton-busqueda{
  color: #192a56;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.txt-busqueda{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  font-size: 16px;
  transition: 0.4s;
  color: #192a56;
  line-height: 40px;
  width: 0px;
}

.desplegable{
  position: relative;
  display: inline-block;
}

.contenido{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 240px;
  z-index: -1;
  right: -8px;
  top: 37px;

}

.contenido a{
  color: #222f3e;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.caja-busqueda:hover .contenido{
  display: block;
}

.contenido a:hover{
   background-color: #222f3e;
   color: #f1f1f1;
   transition: 0.2s linear;
   cursor: pointer;
}

.contenido li{
  list-style: none;
}

/* caja de busqueda termina /*

/*empieza cuerpo*/
body{
  padding: 0;
  margin:0;
 /* background-color: #f1f2f6;*/
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
.enlace{
  color:
}
.tabblue{
  background-color: #7f8fa6;
  color: #222f3e;
}
.frm-registro{
  background-color: #7f8fa6;
color: white;
}
.btnregistro{
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  border: solid;
  background-color:  #222f3e;
  color: #fff;
}
.materialfield{
  position: relative;
  margin: 1rem 0 2rem;
}
.registro-usuario{
  width: 31rem;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}
.iniciarsesion{
  font-size: 14px;
}
.contraseña{
  border: 2.5px solid;
}
.contraseña:valid, textarea:valid{
    border-color: #bada55;

  }
.contraseña:invalid, textarea:invalid{
    border-color: #ff8080;
  }

/*termina cuerpo*/

/*Para el pie de pagina*/
/*Termina el pie de pagina*/

.pie-pagina{
  text-align: center;
  background: #222f3e;
  color: #fff;
  height: 50px;
  top: 20px;
  width: 100%;
	line-height: 50px;
}

.enlace{
  text-decoration: none;
  color: #fff;
}

.enlace:hover{
  color: #48dbfb;
  transition: 0.3s linear;
}


:focus{
    outline: none;
}



/* FORMULARIO =================================== */

.form_wrap{
    width: 1050px;
    height: 530px;
    margin: 50px auto;
    display: flex;

    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/

.cantact_info::before{
     content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.cantact_info{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: center center;

}

.info_title,
.info_items{
    position: relative;
    z-index: 2;
    color: #fff;
}

.info_title{
    margin-bottom: 60px;
}

.info_title span{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2{
    font-size: 35px;
    text-align: center;
}

.info_items p{
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span{
    font-size: 30px;
    margin-right: 10px;
}

.info_items p:nth-child(2) span{
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}


/* Formulario de contacto*/
form.form_contact{
    width: 62%;
    padding: 30px 40px;
}

form.form_contact h2{
  font-size: 25px;
  font-weight: 600;
  color: #303030;
  margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact input,
form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Open sans';
  color: #5A5A5A;
  font-size: 14px;
  font-weight: 400;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

.btnn{
    width: 180px;
  background: #4091EC;
  padding: 10px;
  border: none;
  border-radius: 25px;

    align-self: flex-end;

    color: #fff;
  font-family: 'Open sans';
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btnn{
    background: #3371B6;
}

.regresar{
  text-align: center;
}
.regresar a{
  text-decoration: none;
  color: black;
}
.regresar a:hover{
  color: blue;
  transition: 0.3s linear;
}
